<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css') }}" >

    <script>
        function copyToClipboard() {
            const text = document.getElementById('batchNum').innerText;
            navigator.clipboard.writeText(text).then(() => {
                alert('Text copied to clipboard');
            }).catch(err => {
                console.error('Could not copy text: ', err);
            });
        }
    </script>

</head>
<body>
    <div class="sidebar">
        <h2>Uniuni Warehouse Assistant</h2>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./Uniuni-Concat.html">Convert</a></li>
            <li><a href="#">Daily Report</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>

    <div class="excel-table-container">
        {{ table|safe }}
    </div>

    <div class="content" style="display: block;">

        <div id="result">

            {%if output_filename %}
                <a href="/download/{{output_filename}}">Download {{output_filename}}</a>
            {% endif %}
            
            
        </div>
        
        <form action="/" method="POST" enctype="multipart/form-data">
            
            {%if Initial == 'Y'%}
            <a href="https://arizonastateu-my.sharepoint.com/:x:/r/personal/yzhan713_sundevils_asu_edu/_layouts/15/Doc.aspx?sourcedoc=%7B501BFCE3-28BF-48C2-9BE3-98E02F7835D1%7D&file=AZ%20Rd%20Assignment.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&ct=1705789834404&wdOrigin=OFFICECOM-HWA.MAIN.REC&cid=bb77f598-40e2-4ad1-a66e-750b69e98e1c&wdPreviousSessionSrc=HarmonyDesktop&wdPreviousSession=2d9660c3-59a7-4c9c-9ba8-0205f957a900" target="_blank">
                Click to Download RA Here</a>
            <input type="file" name="file_roadAssignment_MAIN">Drop Local RA Here
            <input type="submit" value="Upload Road Assignment >>>">
            {% endif %}

            
        </form>

        <div id="BatchNums_Board">
            <div id="batchNum">{{batchNum}}</div>

            {%if batchNum %}
            <button onclick="copyToClipboard()">Copy Batch Num</button>
            <a href="https://dispatch.uniuni.com/main" target="_blank">Get Order List</a>
            {% endif %}
        </div>


        <form action="/Auto_DailyReport_uploadOL.html" method="POST" enctype="multipart/form-data">
           
          

            {%if batchNum %}
            
            <input type="file" name="file_orderList">Drop Order List Here
            <input type="submit" value="Upload Order List">
           
            {% endif %}

            
        </form>





       

    </div>

    <script>
        $(document).ready(function() {
            $('#convInput').submit(function(event) {
                <!-- event.preventDefault(); -->
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#result').html($(response).find('#result').html());
                    }
                });
            });
        });
    </script>

</body>
</html>
